<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.OPSC7312_POE"
        tools:targetApi="34">
        <activity
            android:name=".MatchProfile"
            android:exported="false"
            android:label="@string/title_activity_match_profile" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".Liked_you"
            android:exported="false" />
        <activity
            android:name=".Register_Spotify_Link"
            android:launchMode="singleTask"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />


                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="callback"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register_Image_Upload"
            android:exported="false" />
        <activity
            android:name=".Register_About_You"
            android:exported="false" />
        <activity
            android:name=".Register_Permissions"
            android:exported="false" />
        <activity
            android:name=".Register_Email"
            android:exported="false" />
        <activity
            android:name=".Login_Main"
            android:exported="false" />
        <activity
            android:name=".SettingsUI"
            android:exported="false" />
        <activity
            android:name=".MatchUI"
            android:exported="false" />
        <activity
            android:name=".ProfileUI"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />    </application>

</manifest>